.GetStarted{
    width: 100vw;
    height: 100vh;
    background: #583C6F;
}

.center{
    position: "absolute";
    width: '100vw';
}

.title_JOIN{
    margin-top: 40px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 75px;

    color: #FFFFFF;
    
}
.fun{
    color: #BC3A80;
}

.or{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 70px;

    color: #BC3A80;
}

.GetStarted_r{
    display: flex;
}

.GetStarted_r1{
    width:50vw;
    /* height: 90vh; */
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame{
    width: 40vw;
    height: 40vw;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #202027;
    
}

.inputComp{
    width: 36vw;
    height:auto;
    padding: 1vw;
}

.input_title{
    width:100%;
    margin-bottom: 1vw;

    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 50px;
    line-height: 54px;
    color: #FFFFFF;
}

.input{
    width: 100%;
    height: 3.5vw;
    margin-bottom: 1vw;

    box-sizing: border-box;
    border: 2px solid #1762A7;
    border-radius: 12px;

    background: rgba(255, 255, 255, 0);
    color: white;
}

.btn_center{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.btn{
    flex:1;
    justify-content:center;
}

@media screen and (max-width: 1214px){
    .GetStarted{
        width: 100vw;
        height: 100vh;
        background: #583C6F;
    }

    .title_JOIN{
        font-size: 60px; 
    }

    .GetStarted_r{
        display: block;
        padding-bottom: 10vw;
    }

    .or{
        
        position: relative;
        top: auto;
        left: 45%;

        font-size: 60px;
    }

    .GetStarted_r1{
        width:100vw;
        height: 100%;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .frame{
        width: 80vw;
        height: auto;
    }

    .inputComp{
        width: 70vw;
        padding: 2vw;

    }

    .input_title{
        font-size: 40px;
    }

    .input{
        height: 6vw;
    }

    .btn{
        font-size: 25px;
        width: 180px;
        height: 50px;
    }
}

@media screen and (max-width: 425px){
    .GetStarted{
        width: 100vw;
        height: 100%;
        background: #583C6F;
    }

    .title_JOIN{
        font-size: 45px;
    }

    .or{
        left: 45%;

        font-size: 45px;
    }

    .input_title{
        font-size: 25px;
    }

    .input{
        height: 10vw;
    }
}